#datasetData {
    margin: 0px 0px 0px calc(-1px - 2rem);
    border: 1px solid #ddd;
    border-top: none;
}

#datasetData .value > p {
    padding: 0 2rem;
}

#datasetData .pkpTabs {
    margin: 0;
    border-top: 1px solid #ddd;
}

#datasetData #dataset_files {
    padding: 2rem;
}

#datasetTab .noResearchData {
    margin: 0 -2rem 0 calc(-2rem - 1px);
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#datasetTab .noResearchData button {
    margin-top: 1rem;
}

.researchData {
    margin: 0 -2rem 0 calc(-2rem - 1px);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.pkpPublication__tabs.pkpTabs--side .pkpTab .pkpForm.researchData__stateForm {
    margin: 0;
    border: none;
}

.pkpTabs--side .pkpTabs__buttons {
    margin-bottom: 0;
}

#dataset_files-button {
    margin-left: 0;
}

#dataverseAdditionalInstructions {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
    text-align: justify;
}

#datasetLabels {
    padding: 0 2rem;
    font-size: .75rem;
}

.datasetLabel {
    color: #FFF;
    padding: .15rem .45rem;
    border-radius: .25rem;
}

.datasetLabelDraft {
    background-color: #337AB7;
    margin-right: .25rem;
}

.datasetLabelUnpublished {
    background-color: #A4660E;
    margin-right: .25rem;
}

.datasetLabelInReview {
    background-color: #5CB85C;
}