#send_dataset_pkp_button {
  text-align: right;
  text-decoration: none;
}

#send_dataset_pkp_button a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}

.header h4 {
  flex: 1;
}

.galleys_links {
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

#datasetButtonContainer {
  text-align: right;
}
