#datasetData, #datasetData .filesList {
    margin: 0px 0px 0px calc(-1px - 2rem);
    border: 1px solid #ddd;
    border-top: none;
}

#datasetData .value > p{
    padding: 0 2rem;
}

#datasetData .pkpTabs {
    margin: 0;
}

#datasetData .pkpTabs::before {
    content: "";
    display: inherit;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#datasetData .filesList {
    padding: 2rem;
}

#draftDatasetFileGridContainer {
    padding: 2rem 0;
}

#datasetTab .noResearchData {
    margin: 0 -2rem 0 calc(-2rem - 1px);
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#datasetTab .noResearchData button {
    margin-top: 1rem;
}

div:not(:last-child) > .pkp_controllers_grid {
    margin-bottom: 0;
}

.researchData {
    margin: 0 -2rem 0 calc(-2rem - 1px);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.researchData__header {
    padding: 1rem;
    border-bottom: 1px solid #ddd;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.researchData__state {
    flex: 1;
}   

.researchData__state strong,
.researchData__state span {
    font-size: .875rem;
}

.researchData__stateButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.researchData__stateButton .pkpDropdown__content {
    min-width: 25rem;
    max-width: 25rem;
}
.pkpPublication__tabs.pkpTabs--side .pkpTab .pkpForm.researchData__stateForm {
    margin: 0;
    border: none;
}

#dataverseAdditionalInstructions {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
    text-align: justify;
}