.description {
    font-style: italic;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #777;
    color: rgba(0,0,0,0.54);
}

.req {
    font-weight: 700;
    color: #d00a6c;
    padding-left: 0.25em;
}